---
import Navigation from "./Navigation.astro";
import PartnerLogo from "./PartnerLogo.astro";
---

<div class="header-nav">
  <div class="school-header-nav-wrapper">
    <PartnerLogo />
    <Navigation />
  </div>
</div>

<style>
  .header-nav {
    background: #fff;
  }
</style>
