---
import { navLinks } from "@/data/navData.json";
---

<!-- add active class -->
<script>
  const nav = document.getElementById("main-nav");
  if (nav) {
    const navLinks = nav.querySelectorAll("a");
    const currentUrl = window.location.href;
    navLinks.forEach((link) => {
      if (link.href === currentUrl) {
        link.classList.add("active");
      }
    });
  }
</script>

<nav class="main-nav" id="main-nav">
  <div class="center">
    <ul>
      {
        navLinks.topNav.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  nav {
    background: #f5f5f5;
    border-bottom: 2px solid #cfd0d1;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: #231f20;
    display: block;
    font-size: 0.8rem;
    height: 100%;
    padding: 0.65rem 0.5rem 1rem;
    text-decoration: none;
    width: 100%;
  }

  a:hover {
    color: rgb(var(--accent));
  }

  a.active,
  a:focus,
  a:hover {
    color: #002f6c;
    position: relative;
    text-decoration: underline;
  }

  a.active:after,
  a:focus:after,
  a:hover:after {
    content: "";
    font-family: Icons;
    font-size: 0.75em;
    font-weight: 300;
  }

  li:nth-child(n + 3) a {
    color: #016bb4;
  }
</style>
