---
import { Image } from "astro:assets";

import whatever from "@/images/img-woman-laptop.jpg";
---

<section>
  <div class="center">
    <div class="lp-program-content">
      <Image src={whatever} alt="Woman looking at camera" />
      <h4 class="lp-callout-title">Badging Program</h4>

      <p>
        CFA Institute has created a new badging program so that you can
        celebrate your achievements at every level. Your Level I badge will
        distinguish you from the competition as employers seek top candidates.
      </p>

      <p>
        Celebrate your success as a CFA charterholder, a CIPM<sup>®</sup> designation
        holder, a Certificate in ESG Investing certificate holder, an Investment
        Foundations<sup>®</sup> Program certificate holder, or as a current candidate
        in any of the aforementioned credentials.
      </p>
    </div>
  </div>
</section>
<style>
  section {
    background-color: purple;
  }
  .lp-program-content {
    background: #002f6c;
    padding: 1.25rem 1.5rem;
  }

  a,
  a:focus,
  a:hover,
  address,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  li,
  p,
  span,
  ul {
    color: #fff;
  }
</style>
