---
import { Image } from "astro:assets";

import Img from "@/images/img-woman-laptop.jpg";
---

<section class="lp-program-astro">
  <div class="center">
    <div class="lp-program-content">
      <Image src={Img} alt="Woman looking at camera" />
      <h4 class="lp-callout-title">Badging Program</h4>

      <p>
        CFA Institute has created a new badging program so that you can
        celebrate your achievements at every level. Your Level I badge will
        distinguish you from the competition as employers seek top candidates.
      </p>

      <p>
        Celebrate your success as a CFA charterholder, a CIPM<sup>®</sup> designation
        holder, a Certificate in ESG Investing certificate holder, an Investment
        Foundations<sup>®</sup> Program certificate holder, or as a current candidate
        in any of the aforementioned credentials.
      </p>
    </div>
  </div>
</section>
<style>
  .lp-program-astro .lp-program-content {
    background: #002f6c;
    padding: 1.25rem 1.5rem;
  }

  .lp-program-astro .lp-program-content a,
  .lp-program-astro .lp-program-content a:focus,
  .lp-program-astro .lp-program-content a:hover,
  .lp-program-astro .lp-program-content address,
  .lp-program-astro .lp-program-content div,
  .lp-program-astro .lp-program-content h1,
  .lp-program-astro .lp-program-content h2,
  .lp-program-astro .lp-program-content h3,
  .lp-program-astro .lp-program-content h4,
  .lp-program-astro .lp-program-content h5,
  .lp-program-astro .lp-program-content h6,
  .lp-program-astro .lp-program-content label,
  .lp-program-astro .lp-program-content li,
  .lp-program-astro .lp-program-content p,
  .lp-program-astro .lp-program-content span,
  .lp-program-astro .lp-program-content ul {
    color: #fff;
  }
</style>
