---

---

<section class="lp-school static">
  <div class="center lp-school-wrapper">
    <h3 class="lp-school-title">The CFA Program Benefit</h3>

    <div class="lp-school-content list-three">
      <div class="lp-school-content-block">
        <div class="copy-wrap">
          <h5>Demonstrating Your Expansive Knowledge and Skills</h5>

          <p>
            Designed with your future in mind, the CFA Program provides a strong
            foundation in advanced investment analysis and real-world portfolio
            management skills. Ongoing input from industry experts ensures that
            the curriculum remains relevant and prepares charterholders to enter
            today’s market.
          </p>
        </div>
      </div>

      <div class="lp-school-content-block">
        <div class="copy-wrap">
          <h5>Relevant in a Variety of Career Paths</h5>

          <p>
            CFA charterholders occupy a range of investment decision-making
            roles, typically as a research analyst or portfolio manager. CFA
            charterholders go on to enjoy lifelong careers in asset and wealth
            management, investment banking, commercial banking, and consulting,
            alongside a diverse range of career paths in and outside the
            industry.
          </p>
        </div>
      </div>

      <div class="lp-school-content-block">
        <div class="copy-wrap">
          <h5>Value in an Evolving Industry</h5>

          <p>
            As a globally recognized credential in the investment management
            profession, earning the CFA charter demonstrates to employers that
            you have the knowledge and commitment to thrive in today’s complex
            and evolving investment industry. The CFA designation is a mark of
            distinction, and investment firms know it represents a higher
            standard. In addition, CFAs often enjoy higher earning potential due
            to their advanced skill set and industry reputation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
