---

---

<section class="lp-testimonial">
  <div class="center testimonial-wrapper">
    <div class="testimonial">
      <blockquote>
        If you hire investment professionals with a CFA designation, you
        absolutely have confidence at the level of qualification. You can hire
        people with an MBA, but you don’t necessarily know that one MBA is the
        same as another MBA.
      </blockquote>
    </div>

    <div class="quote-cite">
      <p>
        Jenny Johnson<br />
        Franklin Templeton President and Chief Executive Officer
      </p>
    </div>
  </div>
</section>
